.header {
  border-bottom: 1px solid #f1efef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;

  .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    & * {
      cursor: pointer;
    }
    h3 {
      text-transform: uppercase;
    }
    .title {
      opacity: 0.8;
    }
  }

  .headerRight {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      cursor: pointer;
    }

    .balance {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-right: 50px;
      cursor: pointer;

      * {
        cursor: pointer;
      }
    }
  }
}
